
@model CustomerProcessViewModel
{
    Layout = null;
}
<link href="c:\users\cenk_\onedrive\masaüstü\rabbitmq\solution1\designpattern.chainofresponsibility\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
<div class ="contaiiner">
    <br />
    <form method="post">
        <label>Müşteri Adı Soyadı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Çekilecek Miktar</label>
        <input type="text" class="form-control" asp-for="Amount" />
        <br />
        <button class="btn btn-warnining">Para Çekme</button>

    </form>
</div>
<form method="post">

</form>